<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
</head>
<body>
    <% include common/header %>
    
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <div class='row'>            
            <div class='col-md-12' style='padding: 40px'>
                <% if (messages.success) { %>
                    <div class="alert alert-success"><%=messages.success%></div>
                <% } else if (messages.danger) { %>
                    <div class="alert alert-danger"><%= messages.danger %></div>
                <% } else if (messages.warning) {%> 
                    <div class="alert alert-warning"><%= messages.warning %></div>
                <% } else if (messages.info) {%> 
                    <div class="alert alert-info"><%= messages.info %></div>
                <% } %>                
                <h3>Welcome to <strong>Catch The Flags</strong></h3>
                <p><i>Catch The Flags</i> implements a set of intentionally vulnerable functions in NodeJS for learning purpose.
                Start by selecting one of the vulnerability class from the left menu or select one of the link below </p>
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class='col-md-6'>
                    <a class="blog" href='/learn/hacking-web/vulnerability/<%=hackingWebMainVulnerability%>'>HACKING WEB</a>
                </div>
                <div class='col-md-6'>
                    <a class="blog" href='/learn/cryptography/vulnerability/<%=cryptographyMainVulnerability%>'>CRYPTOGRAPHY</a>
                </div>

                <!-- <h4>OWASP Top 10 2018</h4>
                <ul>
                    
                    <% for (var vulnKey in vulnerabilities) { %>
                        <% if (vulnKey[1]!='x') { %>
                        <li><a href='/learn/hacking-web/vulnerability/<%=vulnKey%>'> <%=vulnerabilities[vulnKey]%> </a></li>
                        <% } %>
                    <% } %>
                </ul>
                <br />
                <h4>OWASP Top 10 2017</h4>
                <ul>
                    
                    <% for (var vulnKey in vulnerabilities) { %>
                        <% if (vulnKey[1]!='x') { %>
                        <li><a href='/learn/hacking-web/vulnerability/<%=vulnKey%>'> <%=vulnerabilities[vulnKey]%> </a></li>
                        <% } %>
                    <% } %>
                </ul>
                <br />
                <h4>OWASP Top 10 2013</h4>
                <ul>
                    <% for (var vulnKey in vulnerabilities) { %>
                        <% if (vulnKey[1]=='x') { %>
                        <li><a href='/learn/hacking-web/vulnerability/<%=vulnKey%>'> <%=vulnerabilities[vulnKey]%> </a></li>
                        <% } %>
                    <% } %>
                </ul>
                <br />
                <h4>RETOS CRIPTOGRÁFICOS</h4>
                <ul>
                    <% for (var vulnKey in vulnerabilities) { %>
                        <% if (vulnKey[1]=='x') { %>
                        <li><a href='/learn/cryptography/vulnerability/<%=vulnKey%>'> <%=vulnerabilities[vulnKey]%> </a></li>
                        <% } %>
                    <% } %>
                </ul> -->
            </div>
        </div>

    </div></div></div>
</body>
</html>
