<div class='row'>
    <div class='col-md-12'>
        <h2 class='pull-right'>
            <a href='#' class='btn btn-primary' data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i> Search Product</a>
        </h2>
    </div>
    <div class='col-md-12'>
        <% if (output && output.searchTerm) { %>
            <p class="bg-success">
                Listing products with <strong>search query: </strong> <%- output.searchTerm %>
                &nbsp; &nbsp;
                <small><a href="/ctf/home">
                    <i class="fa fa-remove"></i> Clear
                </a></small>
            </p>
        <% } %>
        
        <% include ../../common/infoBoxes %>

        <table class='table'>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Tags</th>
                <th>Description</th>
                <th></th>
            </tr>
            <% if (output && output.products) { for(var i=0; i<output.products.length; i++) { %>
            <tr>
                <td><%- output.products[i].id %></td>
                <td><%- output.products[i].name %></td>
                <td><%- output.products[i].code %></td>
                <td><%- output.products[i].tags %></td>
                <td><%- output.products[i].description %></td>
                <td>
                    <a href='/ctf/edit-document?id=<%=output.products[i].id%>'>Edit</a>
                </td>
            </tr>
            <% } }%>
        </table>

            <% include searchModal %>

        </div>
    </div>