<div class='row'>
    <div class='col-md-12'>
        <h2 class='pull-right'>
            <a href='#' class='btn btn-primary' data-toggle="modal" data-target="#searchModal"><i class="fa fa-search"></i> Search Product</a>
        </h2>
    </div>
    <div class='col-md-12'>
        
        <% include filters %>
        <% include ../../common/infoBoxes %>

        <table class='table'>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Tags</th>
                <th>Description</th>
                <th style="text-align: center">Approved</th>
                <th style="text-align: center"></th>
                <th style="text-align: center"></th>
            </tr>
            <% if (output && output.products) { for(var i=0; i<output.products.length; i++) { %>
            <tr>
                <td><%- output.products[i].id %></td>
                <td><%- output.products[i].name %></td>
                <td><%- output.products[i].code %></td>
                <td><%- output.products[i].tags %></td>
                <td><%- output.products[i].description %></td>
                <td style="text-align: center">
                    <% if (!output.products[i].isSigned) { %> 
                        <i style="color:coral;" class="fa fa-times"></i>
                    <% } else { %>
                        <i style="color:green;" class="fa fa-check"></i>
                    <% } %>
                </td>
                <td style="text-align: center">
                    <a href="/ctf/download-document?id=<%=output.products[i].id%>"><i class="fa fa-undo"></i> Recover doc</a>
                </td>
                <td style="text-align: center">
                    <a href="/ctf/download-document?id=<%=output.products[i].id%>"><i class="fa fa-trash"></i> Delete forever</a>
                </td>
            </tr>
            <% } }%>
        </table>

            <% include searchModal %>

        </div>
    </div>