<h4 class="primaryText pt20">NETWORKING</h4>
    <div class="plr20">
        <% for (var vulnKey in vulnerabilities) { %>
            <% currentPath = "/learn/hacking-web/vulnerability/"+vulnKey %>
            <% if (vulnKey[1]!='x') { %>
                <% if(path === currentPath){ %>
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" style="background-color: #bdc1cc" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } else {%>  
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } %> 
            <% } %>
        <% } %>
    </div>
    <h4 class="primaryText pt20">SUPPORT</h4>
    <div class="plr20">
        <% for (var vulnKey in vulnerabilities) { %>
            <% currentPath = "/learn/hacking-web/vulnerability/"+vulnKey %>
            <% if (vulnKey[1]!='x') { %>
                <% if(path === currentPath){ %>
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" style="background-color: #bdc1cc" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } else {%>  
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } %> 
            <% } %>
        <% } %>
    </div>
    <h4 class="primaryText pt20">CONTENTS</h4>
    <div class="plr20">
        
        <% for (var vulnKey in vulnerabilities) { %>
            <% currentPath = "/learn/hacking-web/vulnerability/"+vulnKey %>
            <% if (vulnKey[1]=='x') { %>
                <% if(path === currentPath){ %>
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" style="background-color: #bdc1cc" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } else {%>  
                    <a href="/learn/hacking-web/vulnerability/<%=vulnKey%>" class='list-group-item'>
                        <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                    </a>
                <% } %> 
            <% } %>
        <% } %>
    </div>